<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="user_info">
        <%= render 'info', user: @user %>
      </div>
    </div>
    <div class='col-md-7'>
      <%= render 'list', posts: @posts %>
    </div>
    <div class='col-md-2'>
      <div class="randam-users">
        <h5>こんなユーザーもいます</h5>
        <table class='table'>
          <tbody>
            <% @randams.each do |user| %>
              <tr>
                <td>
                  <%= link_to user_path(user) do %>
                  <%= attachment_image_tag(user, :profile_image, size: "40x40", format: 'jpeg', fallback: "no_image.jpg", class:"rounded-circle") %>
                  <% end %>
                </td>
                <td><%= user.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>