<div class="main-visual">
  <h2 class="catch-copy">
    スーツは紳士の鎧<br/>
    紳士は現代の騎士
  </h2>
</div>
<div>
  <div class="slider">
    <% @randams.each do |post| %>
    <div class="card mx-auto shadow-lg">
      <%= link_to post_path(post.id) do %>
        <%= attachment_image_tag post, :image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body pt-0">
        <div class="row">
          <div class="offset-2 col-10 p-0">
            <p class="card-title">
              <%= link_to(post_path(post.id), class:"text-dark") do %>
                <strong><i class="fab fa-black-tie"></i><span> <%= post.title %></span></strong>
              <% end %>
            </p>
            <span><i class="fas fa-user-tie"></i> <%= post.user.name %> ｜ </span>
            <span><i class="fas fa-heart"></i> <%= post.likes.count %> ｜ </span>
            <span> コメント <%= post.post_comments.count %></span>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
