<!DOCTYPE html>
<html>
  <head>
    <title>Oursuit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!--slick導入の為の記述-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <!--ここまで-->

    <!--fontawesome導入の為の記述-->
    <script src="https://kit.fontawesome.com/7e58df9bea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <!--ここまで-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <%= render "layouts/header" %>
    </div>
    <div id="contents">
      <div id="mask" class="hidden"></div>
      <div id="modal" class="hidden">
      <p>モーダルウィンドウ<p>
      </div>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
